/* =========================
   CSS RESET
========================= */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img,
picture,
video {
  max-width: 100%;
  display: block;
}

button,
input,
textarea {
  font: inherit;
}
/* =========================
   FONTS
========================= */

@font-face {
  font-family: "TT Norms";
  src: url("../assets/fonts/TTNorms-Light.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "TT Norms";
  src: url("../assets/fonts/TTNorms-Regular.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "TT Norms";
  src: url("../assets/fonts/TTNorms-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Circuit";
  src: url("../assets/fonts/Circuit.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Circuit";
  src: url("../assets/fonts/Circuit.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

/* =========================
   DESIGN TOKENS
========================= */

:root {
  --color-primary: #0055FF;
  --color-primary-dark: #0044cc;
  --color-light-blue: #0055ff0d;
  --color-text-gray: #666666;
  --font-base: "TT Norms", Arial, sans-serif;
}

/* =========================
   GLOBAL STYLES
========================= */

body {
  font-family: var(--font-base);
  background-color: var(--color-background);
  color: var(--color-text);
  padding-top: 62px;
}

a {
  text-decoration: none;
  color: inherit;
}

/* =========================
   LAYOUT UTILITIES
========================= */

html {
  scroll-behavior: smooth;
}

.container {
  width: 100%;
  max-width: 1240px;
 margin: 0 auto;
}