body {
  background-color: #ffffff;
}

.hero {
  background-color: var(--color-light-blue);
  height: 100%;
  max-height: 789px;
  display: flex;
  align-items: center;
}

.hero-container {
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex: 1;
  padding-left: calc((100% - 1240px) / 2);
}

.hero-text {
  max-width: 571px;
  margin-right: 100px;
}

.hero .cta-button {
  padding: 12px 24px;
  min-height: 48px;
}

.hero-text h1 {
  font-family: "Circuit";
  font-size: 52px;
  line-height: 56px;
  font-weight: 400;
  margin-bottom: 24px;
  color: #000;
}

.hero-text p {
  font-family: "TT Norms", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #000;
  margin-bottom: 24px;
}

.hero-actions {
  display: flex;
  gap: 16px;
}

.hero-gallery {
  max-width: 669px;
}

.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hero-gallery .gallery-item .mobile-image {
  display: none;
}

@media (max-width: 1024px) {
  .hero {
    max-height: 702px;
    padding-bottom: 48px;
  }
  .hero-container {
    flex-direction: column-reverse;
  }

  .hero-text {
    margin: 0 auto;
    margin-top: 32px;
    text-align: center;
    max-width: 353px;
  }
  .hero-text h1 {
    font-size: 36px;
    line-height: 40px;
    margin-bottom: 12px;
  }

  .hero-actions {
    flex-direction: column;
    gap: 12px;
    justify-content: center;
  }

  .hero-gallery {
    width: 100%;
    max-width: 100%;
    max-height: 238px;
    overflow: hidden;
  }

  .hero-gallery .gallery-item {
    width: 100%;
    max-height: 238px;
  }

  .hero-gallery .gallery-item img {
    width: 100%;
    height: 238px;
    max-height: 238px;
    object-fit: cover;
    object-position: center;
  }

  .hero-gallery .gallery-item .desktop-image {
    display: none;
  }
  .hero-gallery .gallery-item .mobile-image {
    display: block;
  }
}
