.partners-banner {
  background-color: #c0e0ff;
  min-height: 132px;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.partners-container {
  width: 100%;
}

.logo-track {
  display: flex;
  width: max-content;
  animation: scroll-animation 30s linear infinite;
}

.logo-group {
  display: flex;
  align-items: center;
  gap: 80px;
  padding-right: 80px;
}

@keyframes scroll-animation {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.logo-track:hover {
  animation-play-state: paused;
}

@media (max-width: 1024px) {
  .partners-banner {
    min-height: 124px;
  }

  .logo-group img {
    height: 100%;
    max-height: 28px;
  }
}
