.schedule {
  display: flex;
  padding: 100px 0px;
  position: relative;
}

.schedule:before {
  content: "";
  position: absolute;
  background-image: url(../assets/images/schedule_background.png);
  background-size: cover;
  background-position: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.schedule .container {
  display: flex;
  justify-content: center;
}

.schedule-card {
  background-color: #ffffff;
  padding: 48px;
  border-radius: 16px;
  width: 100%;
  max-width: 604px;
}

.schedule-card h2 {
  font-family: "Circuit";
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  text-align: center;
  margin-bottom: 12px;
  color: #000;
  max-width: 464px;
}

.schedule-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.schedule-item {
  display: grid;
  grid-template-columns: 100px 1fr;

  font-size: 1rem;
}

.schedule-item .time {
  font-family: "TT Norms";
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
}

.schedule-item .event {
  font-family: "TT Norms";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
}

@media (max-width: 768px) {
  .schedule {
    padding: 272px 20px 48px;
    width: 100%;
    max-height: none;
  }

  .schedule-card {
    padding: 0px 20px;
    border-radius: unset;
    box-shadow: none;
  }

  .schedule-card h2 {
    text-align: left;
    font-size: 28px;
    line-height: 32px;
  }

  .schedule-list {
    gap: 12px;
  }

  .schedule:before {
    top: 0;
    left: 0;
    width: 100%;
    height: 240px;
    background-size: cover;
  }
}
