/* =========================
   SCHEDULE SECTION
========================= */

.schedule {
    /* background-image: url('../assets/images/Schedule_Background_Image.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */
    /* min-height: 600px; */
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    padding: 100px 0px;
    position: relative;
}

.schedule:before {
    content: "";
    position: absolute;
    background-image: url(../assets/images/Schedule_Background_Image.jpg);
    background-size: cover;
    background-position: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.schedule .container {
    display: flex;
    justify-content: center;
}

.schedule-card {
    background-color: #ffffff;
    padding: 48px;
    border-radius: 24px;
    width: 100%;
    max-width: 604px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.schedule-card h2 {
    font-family: "Circuit";
    font-size: 36px;
    font-weight: 400;
    line-height: 40px;
    text-align: center;
    margin-bottom: 12px;
    color: #000;
}

.schedule-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.schedule-item {
    display: grid;
    grid-template-columns: 100px 1fr;
    align-items: baseline;
    font-size: 1rem;
}

.schedule-item .time {
    font-family: TT Norms;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;
}

.schedule-item .event {
    font-family: TT Norms;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;
}


@media (max-width: 767px) {
    .schedule {
        padding: 296px 20px 48px;
        width: 100%;
        max-height: none;
    }

    .schedule-card {
        padding: 0px 20px;
        border-radius: unset;
        box-shadow: none;
    }

    .schedule-card h2 {
        text-align: left;
        font-size: 28px;
        line-height: 32px;
    }

    .schedule-list {
        gap: 12px;
    }

    .schedule:before {
        top: 0;
        left: 0;
        width: 100%;
        height: 240px;
        background-size: cover;
    }
}