#signup-page {
  min-height: 100vh;
}

header .container .nav-container,
header .container .nav-container ul a {
  display: none;
}

.signup-main {
  padding: 100px 20px;
}

.signup-main h1 {
  font-family: "Circuit", sans-serif;
  font-size: 52px;
  line-height: 56px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 12px;
}

.signup-main .subtitle {
  font-family: "TT Norms", sans-serif;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  max-width: 604px;
  margin: 0 auto;
}

.signup-container {
  max-width: 1240px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
  margin-top: 48px;
}

.form-section {
  background: transparent;
}

.form-block {
  background: #ffffff;
  border-radius: 16px;
  padding: 24px 20px;
  width: 100%;
  max-width: 456px;
  min-height: 628px;
  box-shadow: 0px 2px 10px 0px #00000014;
}

.form-block h2 {
  font-family: "TT Norms", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  margin-bottom: 12px;
  color: #000;
  text-align: left;
}

.form-description {
  font-family: "TT Norms", sans-serif;
  font-size: 16px;
  line-height: 24px;

  margin-bottom: 32px;
  text-align: left;
}

.signup-form {
  width: 100%;
  max-width: 456px;
  justify-self: end;
}

.form-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
  position: relative;
}

.form-group input,
.input {
  width: 100%;
  height: 48px;
  padding: 12px 9px;
  border: 1px solid #bdbdbd;
  border-radius: 6px;
  font-family: "TT Norms", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #6a6a6a;
  background: #ffffff;
  transition: all 0.2s;
}

.form-group input::placeholder {
  color: #6a6a6a;
}

.custom-select {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background: #fff;
  cursor: pointer;
  min-height: 48px;
  transition:
    border-color 0.2s,
    box-shadow 0.2s;
}

.custom-select-container label {
  top: 0px !important;
}

.custom-select-container.active .custom-select {
  border-color: #0077ff;
  outline: none;
}

.arrow-icon {
  transition: transform 0.3s ease;
  display: flex;
  align-items: center;
}

.custom-select-container.active .arrow-icon {
  transform: rotate(180deg);
}

.dropdown-options {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0px 4px 20px #00000014;
  z-index: 100;
  display: none;
  height: 192px;
  overflow-y: auto;
  padding: 8px 0;
}

.dropdown-options::-webkit-scrollbar {
  width: 6px;
}

.dropdown-options::-webkit-scrollbar-track {
  background: transparent;
}

.dropdown-options::-webkit-scrollbar-thumb {
  background-color: #999;
  border-radius: 10px;
  border: 2px solid #fff;
}

.custom-select-container.active .dropdown-options {
  display: block;
}

.option {
  padding: 12px 16px;
  font-family: "TT Norms", sans-serif;
  font-size: 16px;
  color: #333;
  cursor: pointer;
  transition: background 0.2s;
}

.option:hover {
  background-color: #f5f5f5;
}

.option.selected {
  background-color: #e7f3ff;
  font-weight: 500;
}

.select-label {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  background: #fff;
  padding: 0 4px;
  color: #6a6a6a;
  pointer-events: none;
  transition: all 0.2s;
  font-size: 16px;
  z-index: 1;
}

.custom-select-container.active .select-label,
.custom-select-container.has-value .select-label {
  top: 0;
  font-size: 12px;
  color: #0077ff;
}

.custom-select-container.has-value:not(.active) .select-label {
  color: #666;
}

.selected-text {
  font-family: "TT Norms";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #6a6a6a;
}

.custom-select-container.has-value .selected-text {
  color: #000;
}

.float-label {
  position: relative;
}

.float-label label {
  font-family: "TT Norms", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #6a6a6a;
  position: absolute;
  left: 9px;
  top: -10px;
  background: #fff;
  z-index: 2;
  padding: 0 4px;
}

.float-label:focus-within label {
  color: #0055ff !important;
}

.checkbox-group {
  margin: 20px 0 16px;
}

.checkbox-label {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  cursor: pointer;
}

.checkbox-label input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  margin: 0;
  font: inherit;
  color: #dedede;
  width: 24px;
  height: 24px;

  border: 1px solid #dedede;
  border-radius: 5px;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
  flex-shrink: 0;
  cursor: pointer;
  margin-top: 3px;
}

.checkbox-label input[type="checkbox"]::before {
  content: "";
  width: 24px;
  height: 24px;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
  transform-origin: bottom left;
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em #0055ff;
  background-color: CanvasText;
}

.checkbox-label input[type="checkbox"]:checked::before {
  transform: scale(1);
}

.checkbox-label input[type="checkbox"]:checked {
  border: 0.15em solid #0055ff;
}

.checkbox-text {
  font-family: "TT Norms", sans-serif;
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
  color: #000000;
}

.signup-form.was-validated .input:valid {
  border-color: #008aff !important;
}

.signup-form.was-validated .input:invalid {
  border-color: #dc3545 !important;
}

.signup-form.was-validated .float-label:has(.input:valid) label {
  color: #008aff;
}

.signup-form.was-validated .float-label:has(.input:invalid) label {
  color: #dc3545;
}

#experienceSelectContainer.has-value .custom-select {
  border-color: #008aff;
}

#experienceSelectContainer.has-value .select-label {
  color: #008aff;
}

#experienceSelectContainer.invalid .custom-select {
  border-color: #dc3545;
}

#experienceSelectContainer.invalid .select-label {
  color: #dc3545;
}

.signup-form.was-validated .checkbox-group input:invalid + .checkbox-text {
  color: #dc3545;
}

#experienceSelectContainer .custom-select:focus-visible,
.input:focus-visible,
.checkbox-label input[type="checkbox"]:focus-visible,
.legal-text a:focus-visible {
  outline: 2px solid #008aff;
}

.legal-text {
  font-family: "TT Norms";
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  color: #6a6a6a;
  margin-bottom: 20px;
}

.legal-text a {
  color: #0055ff;
  text-decoration: underline;
  font-weight: 500;
}

.legal-text a:hover {
  color: #0044cc;
}

.submit-btn {
  width: 100%;
  padding: 12px;
  max-height: 48px;
  border: none;
  font-family: "TT Norms", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  cursor: pointer;
}

.submit-btn:active {
  transform: translateY(0);
}

.signup-container .image-section img {
  width: 100%;
  max-width: 456px;
  height: 100%;
  border-radius: 16px;
  object-fit: cover;
}

.signup-image-mobile {
  display: none;
}

@media (max-width: 1024px) {
  .signup-main {
    padding: 48px 20px;
  }

  .logo .desktop-logo {
    display: none;
  }

  .signup-container {
    grid-template-columns: 1fr;
    gap: 32px;
    margin-top: 32px;
    justify-items: center;
  }

  .signup-main h1 {
    font-size: 36px;
    line-height: 40px;
    margin-bottom: 12px;
  }

  .signup-form {
    justify-self: unset;
  }

  .form-block h2,
  .form-description {
    text-align: center;
  }

  .form-row {
    grid-template-columns: 1fr;
    margin-bottom: 20px;
  }
  .form-row .form-group {
    margin: 0px;
  }
  .image-section {
    width: 100%;
    max-width: 456px;
  }
  .image-section img {
    width: 100%;
    height: auto;
  }

  .logo .mobile-logo {
    display: block;
  }

  header .container .nav-container,
  header .container .nav-container ul a {
    display: flex;
  }

  .menu-toggle {
    display: flex;
  }

  .signup-image-desktop {
    display: none;
  }

  .signup-image-mobile {
    display: block;
  }
  .checkbox-label input[type="checkbox"] {
    padding: 0px;
  }
}
