header .container .nav-container,
header .container .nav-container ul a {
    display: none;
}


#thank-you {
    padding: 100px 20px;
}

.thank-you-title {
    font-family: Circuit;
    font-weight: 400;
    font-size: 52px;
    line-height: 56px;
    text-align: center;
}

.thank-you-description {
    font-family: TT Norms;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    margin-top: 12px;
    color: #000000;
}


@media (max-width: 1024px) {
    header .container .nav-container,
    header .container .nav-container ul a {
        display: flex;
    }

    #thank-you{
        padding: 48px 20px 0px;
    }
    .thank-you-title {
        font-size: 36px;
        line-height: 40px;
    }
}